.recipeForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  .formBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: flex-start;

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }

  .buttonRow {
    display: flex;
    justify-content: flex-end;

    .submitButton {
      background-color: #3e9f3e;
      color: white;
      font-weight: bold;
      border: 1px solid transparent;
      border-radius: 4px;
      width: 12rem;
      padding: 7px;
      cursor: pointer;
      transition: var(--hover-transition);

      &:hover {
        border-color: #3e9f3e;
        color: #3e9f3e;
        background-color: white;
      }

      &:disabled {
        background-color: darkgray;
        border-color: darkgray;
        color: white;
        cursor: default;
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}

.generalInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .genInfoKeyFields {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
  }
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ListBuilder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .search {
    display: flex;
    gap: 5px;
    align-items: flex-end;

    .submit {
      transition: var(--hover-transition);
      cursor: pointer;
      border-radius: 3rem;

      &:hover {
        color: var(--primary);
      }
    }
  }
}

.ChipDisplay {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;

  .chip {
    border-radius: 5rem;
    padding: 0.5rem 0.7rem;
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    align-items: center;
    transition: var(--hover-transition);
    cursor: pointer;
    background-color: #efefef;

    svg {
      border-radius: 3rem;
      padding: 2px;
      font-size: 1.3rem;
    }

    &:hover {
      background-color: lightgray;

      svg {
        background-color: darkgray;
      }
    }
  }
}

.ListDisplay {
  padding: 1rem 7px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 10rem;
  overflow: auto;

  .listItem {
    display: grid;
    grid-template-columns: 1fr 1.5rem 1.5rem;
    grid-gap: 0.5rem;
    align-items: center;
    margin-bottom: 3px;
    padding-bottom: 3px;

    .instruction {
      display: grid;
      grid-template-columns: 1.6rem 1fr;
      grid-gap: 5px;
    }

    span {
      &:nth-of-type(1) {
        border-right: 1px solid lightgray;
      }
    }

    svg {
      font-size: 1rem;
      color: lightgray;
      transition: var(--hover-transition);
      cursor: pointer;

      &:hover {
        color: tomato;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
    }
  }
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.IngredientList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0;

  h4 {
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    align-items: center;

    svg {
      font-size: 1.3rem;
    }
  }
}

.IngredientResults {
  max-height: 35vh;
}

.newIngredient {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .fields {
    display: grid;
    grid-template-columns: 1fr 0.35fr 0.35fr;
    grid-gap: 0.5rem;
  }

  .buttonRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .buttons {
      display: flex;
      gap: 0.5rem;
    }
  }
}

.existingIngredient {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .keyFields {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;

    .weight {
      border: 1px solid lightgray;
      border-radius: var(--border-radius);
      display: grid;
      grid-template-columns: 1fr 1px 1fr;

      div {
        padding: 3px;
      }

      .border {
        padding: 0;
        width: 1px;
        height: 100%;
        background-color: lightgray;
      }
    }
  }
}

.recipeRecap {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .actions {
    display: flex;
    gap: 1rem;
  }
}

.ingredients {
}

.ingredientItems {
  max-height: 25rem;
  overflow: auto;
}

.ingredientSearchBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .fields {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr;
    grid-gap: 0.5rem;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
  }
}

.ingredients {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
