:root {
  --content-height: 100%;
  --nav-offset: 62px;
  --sidebar-width: 15rem;
  --hover-transition: 0.25s ease-in-out;
  --border-radius: 10px;
  --boxshadow-border: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}
