:root {
  --content-height: 100%;
  --nav-offset: 62px;
  --sidebar-width: 15rem;
  --hover-transition: 0.25s ease-in-out;
  --border-radius: 10px;
  --boxshadow-border: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
