.Drawer {
  position: relative;
  //   TODO: Add theme variable for bg colors
  background-color: white;

  &.open {
    width: 100%;

    &.overlay {
      height: 100%;
      width: 100%;
    }

    .drawerContent {
      opacity: 1;
      transition: opacity 0.25s ease-in;
    }
  }
  &.closed {
    width: 0;

    &.overlay {
      height: 100%;
      width: 0;
    }

    .drawerContent {
      opacity: 0;
      transition: opacity 0.25s ease-out;
    }

    left: -240px !important;
  }

  &.overlay {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 11;
    background-color: transparent;

    .drawerContent {
      background-image: linear-gradient(to right, #fff, #fff, #fff);
    }
  }

  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;

  .drawerContent {
    height: 100%;
  }

  & > svg {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

    &:hover {
      transition: var(--hover-transition);
      color: tomato;
    }
  }
}
