.mobileNav {
  flex-grow: 1;
  gap: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav {
  box-shadow: none;
}

.navBody {
  flex-grow: 1;
  gap: 1rem;
  justify-content: space-between;
}

.logoBlock {
  padding: 5px 0;

  img {
    width: 100%;
    height: 3rem;
    cursor: pointer;
  }
}

@mixin activeAccordion {
  border-radius: var(--border-radius);
  transition: box-shadow 0.25s ease-in-out;
}

.SideNav {
  width: var(--sidebar-width);
  height: 100%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  position: fixed;

  .accordion {
    box-shadow: none;
    transition: var(--hover-transition);

    &::before {
      position: relative;
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0 0.5rem;

      .selected {
        background-color: tomato;
        border-radius: var(--border-radius);
        box-shadow: var(--boxshadow-border);
      }

      div {
        padding: 9px 10px 7px 10px;
        cursor: pointer;
        box-shadow: none;
        @include activeAccordion();

        &:hover {
          box-shadow: var(--boxshadow-border);
        }
        &:last-child {
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  footer {
    font-size: 0.7rem;
  }

  @media screen and (max-width: 900px) {
    height: calc(100% - 4rem);
    padding-bottom: 1rem;
  }
}
